<div>
  <div >  
    <h4>Coronavirus (COVID-19)  Status </h4>  
</div> 
<br>

<br>
  <label>Country Name:</label>&nbsp;&nbsp;
  <select (change)="getCountry($event)">
    
    <option *ngFor="let country of countries" value={{country.Slug}}>
    {{country.Country}}
    </option>
  </select> &nbsp;&nbsp;
  <button (click)="getCoronaData()" class="button button4">Seach Corona Data</button>
  
  <table align="center" border="1" cellpadding="4" cellspacing="4">  
    <tr>  
        <th>Country</th>
        <th>Confirmed</th>  
        <th>Cases</th>  
      
    </tr>    
        <tr>  
            <td>{{Country}}</td>
            <td>{{Confirmed}}</td>  
            <td>{{Cases}}</td>  
           
        </tr>
</table>
</div>