<div>
  <div >  
    <h2 class="title">Covid-19 Countrywise Status </h2>  
</div> 

  <label>Country Name: </label>
  <select (change)="getCountry($event)">
    
    <option *ngFor="let country of countries" value={{country.Slug}}>
    {{country.Country}}
    </option>
  </select> 
  <button (click)="getCoronaData()" class="button button4">Seach Corona Data</button>
  
  <table >  
    <tr>  
        <th>Country</th>
        <th>Confirmed</th>  
        <th>Cases</th>  
      
    </tr>    
        <tr>  
            <td>{{Country}}</td>
            <td>{{Confirmed}}</td>  
            <td>{{Cases}}</td>  
           
        </tr>
</table>
</div>